.error-message h1, h2 {
    color: #FF6060;
}

.error-message {
    margin-bottom: 100px;
}

.error-message h1 {
    font-size: 288px;
    font-weight: bold;
}

.error-message h2 {
    margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
    .error-message h1 {
        font-size: 96px;
    }
    .error-message h2 {
        font-size: 18px;
    }
    .error-message p {
        font-size: 14px;
    }
}